/**
 * Sliding swipe menu CSS
 */
nav {
    height: 100%;
    width: 160px;
    background-color: #ffffff;
    left: 0;
    top: 0;
    z-index: 2;
    position: fixed;
    overflow-y: auto;
    overflow-x: visible;
    transform: translate(-160px,0);

}
.ssm-overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.2);
    display: none;
    z-index: 1;
}
