*,
*::before,
*::after {
    box-sizing: border-box;
}

ul * {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

html,
body {
    height: 100%;
}

body {
    background-color: transparent;
    font-family: 'Open Sans';
   
    margin: 0;
    padding: 50px 15px;
    text-align: center;
}
.is-navOpen{
  overflow: hidden;
}



h1 {
    font-weight: normal;
    font-size: 50px;
}

nav.nav {
    color: #fff;
}
